@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
/* Material Icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.skybtn {
  border: none;
  background: #65A3EA;
  border-radius: 0.18em;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.skybtn:hover {
  background: #2b4563;
}

.darkbtn {
  border: none;
  background: #000;
  border-radius: 0.18em;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.darkbtn:hover {
  background: #65A3EA;
}

.fixed {
  width: 1620px;
  margin: 0 auto;
}

html {
  font-family: "Play", sans-serif;
  font-size: 10px;
}
html body {
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  background: #141516;
  color: #fff;
}
html body header {
  width: 1200px;
  height: 210px;
  margin: 0 auto;
}
html body header .head {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
html body header .head .open {
  position: absolute;
  left: 0;
  top: 9.3rem;
  font-size: 1.6rem;
  color: #65A3EA;
}
html body header .head .open span {
  color: #fff;
  margin-left: 1.25em;
}
html body header .head .logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 6rem;
}
html body header .head .logo img {
  width: 6.8rem;
}
html body header .head .wrap {
  position: absolute;
  right: 0;
  top: 8.3rem;
  width: 257px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header .head .wrap .search {
  font-size: 30px;
  color: #fff;
}
html body header .head .wrap .search::before {
  content: "";
  position: absolute;
  left: 70px;
  top: 5px;
  height: 30px;
  border-right: 1px dotted white;
}
html body header .head .wrap .sns {
  display: flex;
}
html body header .head .wrap .sns li {
  margin-left: 16px;
}
html body header .menu {
  width: 1120px;
  height: 50px;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 6;
}
html body header .menu .hamburger {
  display: none;
}
html body header .menu .wrap {
  display: flex;
}
html body header .menu .wrap .main a {
  display: block;
  width: 160px;
  height: 100%;
  border: 1px solid #dadada;
  line-height: 50px;
  font-size: 2.4rem;
  color: #fff;
  background: #818181;
  transition: 0.2s;
}
html body header .menu .wrap .main a:hover {
  background: #65A3EA;
}
html body main .slide {
  width: 1920px;
  height: 800px;
  margin: 25px auto 0;
  position: relative;
}
html body main .slide .slidebtn {
  font-size: 10rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 6;
  cursor: pointer;
  transition: 0.2s;
}
html body main .slide .slidebtn:hover {
  color: #65A3EA;
}
html body main .slide .slick-prev {
  left: 6rem;
}
html body main .slide .slick-next {
  right: 6rem;
}
html body main .slide .slick-dots li button {
  position: absolute;
  top: 80%;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
html body main .slide .slick-dots li :hover {
  background: #65A3EA;
}
html body main .slide .slick-dots :nth-child(1) button {
  left: 48%;
  transform: translate(-50%, 0);
}
html body main .slide .slick-dots :nth-child(2) button {
  left: 50%;
  transform: translate(-50%, 0);
}
html body main .slide .slick-dots :nth-child(3) button {
  left: 52%;
  transform: translate(-50%, 0);
}
html body main .slide .slick-dots li.slick-active button {
  background: #65A3EA;
}
html body main .slide .slick-list li {
  position: relative;
}
html body main .slide .slick-list li a {
  color: #fff;
}
html body main .slide .slick-list li a img {
  opacity: 0.45;
}
html body main .slide .slick-list li a P {
  font-size: 9.6rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
html body main .slide .slick-list li a button {
  font-size: 3.2rem;
  width: 5.6em;
  height: 1.9em;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
html body main .icons {
  width: 1920px;
  height: 700px;
  background: url("../img/bgwall.jpg") no-repeat;
  position: relative;
}
html body main .icons h4 {
  font-size: 6.4rem;
  position: absolute;
  top: 1.6em;
  left: 0;
  right: 0;
}
html body main .icons h4 span {
  color: #65A3EA;
}
html body main .icons ul {
  display: flex;
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -50%);
}
html body main .icons ul li {
  width: 300px;
  height: 300px;
  border-right: 1px dotted #fff;
  padding-top: 5em;
}
html body main .icons ul li img {
  position: relative;
  transform: translate(0, 100%);
  opacity: 0;
  transition: 0.6s;
}
html body main .icons ul li img.on {
  transform: translateY(0);
  opacity: 1;
}
html body main .icons ul li p {
  font-size: 3.6rem;
  margin-top: 0.3em;
}
html body main .icons ul li button {
  width: 160px;
  height: 30px;
  font-size: 2rem;
  margin-top: 2em;
}
html body main .icons ul li:nth-child(2) img {
  transition-delay: 0.1s;
}
html body main .icons ul li:nth-child(3) img {
  transition-delay: 0.2s;
}
html body main .icons ul li:nth-child(4) img {
  transition-delay: 0.3s;
}
html body main .icons ul li:nth-child(4) {
  border: none;
}
html body main .gallery {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 900px;
  margin: 0 auto;
}
html body main .gallery h6 {
  font-size: 1.6rem;
  margin: 6.6em 0 0 3em;
  letter-spacing: 3em;
}
html body main .gallery h4 {
  font-size: 6.4rem;
  margin-bottom: 1.6em;
}
html body main .gallery ul {
  display: flex;
}
html body main .gallery ul li {
  position: relative;
  overflow: hidden;
}
html body main .gallery ul li img {
  position: relative;
  transform: translate(0, 100%);
  opacity: 0;
  transition: 0.6s;
}
html body main .gallery ul li img.on {
  transform: translateY(0);
  opacity: 0.6;
}
html body main .gallery ul li span {
  position: absolute;
  left: 30%;
  top: 65%;
  opacity: 0;
  font-size: 3.6rem;
  color: #fff;
  transition: 0.6s;
}
html body main .gallery ul li span.on {
  top: 45%;
  opacity: 0.6;
}
html body main .gallery ul li span.on {
  transform: translateY(0);
  opacity: 1;
}
html body main .gallery ul li p {
  color: #fff;
  font-size: 6rem;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 0.1em #000;
  opacity: 0;
  transition: 0.2s;
}
html body main .gallery ul li:hover img {
  transform: scale(1.3);
  opacity: 1;
}
html body main .gallery ul li:hover span {
  opacity: 0;
}
html body main .gallery ul li:hover p {
  opacity: 1;
}
html body main .gallery ul li:nth-child(2) img {
  transition-delay: 0.1s;
}
html body main .gallery ul li:nth-child(3) img {
  transition-delay: 0.2s;
}
html body main .gallery ul li:nth-child(4) img {
  transition-delay: 0.3s;
}
html body main .gallery p {
  font-size: 1.6rem;
  margin: 6em 0;
}
html body main .gallery p button {
  width: 120px;
  height: 25px;
  margin-left: 1.9em;
}
html body main .market {
  width: 100vw;
  height: 1080px;
  background: #202123;
}
html body main .market .wrap {
  width: 1590px;
  margin: 0 auto;
  position: relative;
}
html body main .market .wrap h4 {
  font-size: 6.4rem;
  position: absolute;
  top: 1.6em;
}
html body main .market .wrap ul {
  display: flex;
  justify-content: space-between;
}
html body main .market .wrap ul li {
  margin-top: 25em;
}
html body main .market .wrap ul li a {
  color: #fff;
}
html body main .market .wrap ul li a img {
  position: relative;
  transform: translate(0, 100%);
  opacity: 0;
  transition: 0.2s;
}
html body main .market .wrap ul li a img.on {
  transform: translateY(0);
  opacity: 1;
}
html body main .market .wrap ul li a img:hover {
  transform: scale(1.1);
}
html body main .market .wrap ul li a strong {
  font-size: 2.4rem;
  font-weight: inherit;
  color: #fff;
  display: block;
  text-align: left;
  margin: 1em 0 0.3em;
}
html body main .market .wrap ul li a p {
  display: flex;
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 1em;
}
html body main .market .wrap ul li a p .material-symbols-outlined {
  font-size: 1.6rem;
}
html body main .market .wrap ul li a p span:nth-child(2) {
  margin: 0 2em 0 0.6em;
  position: relative;
}
html body main .market .wrap ul li a p span:nth-child(2):before {
  content: "";
  width: 1px;
  height: 10px;
  background: #fff;
  position: absolute;
  right: -1.1em;
  top: 0.2em;
}
html body main .market .wrap ul li a p span:nth-child(3) {
  color: #65A3EA;
}
html body main .market .wrap ul li:nth-child(2) img {
  transition-delay: 0.1s;
}
html body main .market .wrap ul li:nth-child(3) img {
  transition-delay: 0.2s;
}
html body main .market .wrap ul li:nth-child(4) img {
  transition-delay: 0.3s;
}
html body main .market .direct {
  width: 1080px;
  height: 200px;
  display: block;
  margin: 2.75em auto 0;
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
  position: relative;
  text-shadow: -0.14em 0 0 #000;
}
html body main .market .direct p {
  position: absolute;
  left: 1.6em;
  top: 2.1em;
}
html body main .market .direct span {
  position: absolute;
  right: 1.2em;
  top: 1.6em;
  letter-spacing: 0.3em;
}
html body main .market .direct button {
  position: absolute;
  right: 7em;
  bottom: 4.5em;
  width: 6em;
  height: 2em;
}
html body main .together {
  width: 100vw;
  height: 600px;
  position: relative;
}
html body main .together p {
  font-size: 1.6rem;
  letter-spacing: 1em;
  position: absolute;
  left: -0.5em;
  right: 0;
  top: 11em;
}
html body main .together h4 {
  font-size: 9.6rem;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;
  transition: 0.6s;
}
html body main .together h4.on {
  opacity: 1;
}
html body main .together h6 {
  font-size: 2.4rem;
  font-weight: inherit;
  letter-spacing: 0.4em;
  position: absolute;
  left: 0;
  right: 0;
  top: 13.3em;
}
html body main .together button {
  font-size: 2.4rem;
  width: 140px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 17em;
  transform: translate(-50%, -50%);
}
html body main .together:before {
  content: "";
  background: url(../img/bgtogether.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: -1;
}
html body main .membership {
  height: 1000px;
}
html body main .membership > P {
  font-size: 2rem;
  letter-spacing: 1em;
  margin: 5em auto 0.8em;
}
html body main .membership > h4 {
  font-size: 6.4rem;
}
html body main .membership .choice {
  margin-top: 10em;
  position: relative;
  transform: translate(0, 100%);
  opacity: 0;
  transition: 0.6s;
  display: grid;
  grid-gap: 6em;
  grid-template-columns: 1fr 1fr 1fr;
}
html body main .membership .choice li {
  height: 600px;
  background: #202123;
  border-radius: 1.4rem;
  transition: 0.2s;
}
html body main .membership .choice li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
html body main .membership .choice li a h4 {
  font-size: 6.4rem;
}
html body main .membership .choice li a .dollar {
  font-weight: inherit;
  padding-top: 9.8rem;
}
html body main .membership .choice li a .dollar span {
  font-size: 2.4rem;
  position: relative;
  top: -1.5em;
}
html body main .membership .choice li a .line {
  display: block;
  width: 100px;
  height: 1px;
  margin: 3em auto 2.5em;
  background: #65A3EA;
}
html body main .membership .choice li a p {
  font-size: 2rem;
  letter-spacing: 0.16em;
  margin-bottom: 2em;
}
html body main .membership .choice li a button {
  font-size: 2rem;
  width: 8em;
  height: 2em;
}
html body main .membership .choice li:hover {
  transform: translate(-0.6em, -0.6em);
  box-shadow: 1em 1em 3em black;
}
html body main .membership .choice.on {
  transform: translateY(0);
  opacity: 1;
}
html body main .add {
  width: 100vw;
  height: 160px;
  background: #65A3EA;
}
html body main .add span {
  font-size: 5.4rem;
  font-weight: bold;
  position: relative;
  top: 0.2em;
}
html body main .add input {
  font-size: 2.4rem;
  width: 500px;
  height: 2.29em;
  border-radius: 0.3em;
  border: none;
  margin: 2.2em 1em 0 1.6em;
  padding: 0 0.6em;
}
html body main .add button {
  font-size: 2.4rem;
  width: 8.3em;
  height: 2.29em;
}
html body main .map {
  width: 100vw;
  height: 500px;
  position: relative;
}
html body main .map iframe {
  display: block;
  width: 100%;
  height: 100%;
}
html body main .map .box {
  width: 540px;
  height: 300px;
  background: #202123;
  position: absolute;
  left: 20em;
  top: 10em;
}
html body main .map .box .wrap {
  width: 390px;
  height: 195px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html body main .map .box .wrap .text {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
html body main .map .box .wrap .text h6 {
  float: left;
  font-size: 2.4rem;
  font-weight: bold;
}
html body main .map .box .wrap .text .pack {
  float: right;
  width: 60%;
}
html body main .map .box .wrap .text .pack a {
  float: left;
  font-size: 2rem;
  color: #fff;
  margin: 0 1rem;
}
html body main .map .box .wrap .text .pack :hover {
  text-decoration: underline;
}
html body main .map .box .wrap .text:nth-child(2) {
  top: 50%;
  transform: translate(0, -10%);
}
html body main .map .box .wrap .text:nth-child(3) {
  top: 100%;
  transform: translate(0, -20%);
}
html body footer {
  width: 100vw;
  height: 900px;
}
html body footer .container:before {
  content: "";
  background: url(../img/bgfooter.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
html body footer .container {
  width: 100%;
  height: 800px;
  position: relative;
}
html body footer .container .wrap {
  width: 1130px;
  height: 335px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.6s;
}
html body footer .container .wrap .one img {
  width: 9.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
html body footer .container .wrap .one p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 7em;
  text-align: left;
}
html body footer .container .wrap .two {
  width: 28rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body footer .container .wrap .two .box {
  width: 11rem;
  height: 14.4rem;
  text-align: left;
}
html body footer .container .wrap .two .box h6 {
  font-size: 3.2rem;
  color: #65A3EA;
  margin: 0 auto 0.2em;
}
html body footer .container .wrap .two .box .link a {
  font-size: 2rem;
  color: #fff;
  display: block;
  margin-bottom: 0.3em;
}
html body footer .container .wrap .thr {
  width: 36rem;
  height: 33.5rem;
  position: absolute;
  right: 0;
  top: 0;
}
html body footer .container .wrap .thr .tag {
  display: flex;
  flex-wrap: wrap;
}
html body footer .container .wrap .thr .tag a {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  background: #2C2D2E;
  padding: 0.7em 1.2em;
  border-radius: 0.25em;
  margin: 0 1em 0.6em 0;
}
html body footer .container .wrap .thr .contact {
  text-align: left;
  margin-top: 4.2em;
}
html body footer .container .wrap .thr .contact h6 {
  font-size: 3.2rem;
  color: #65A3EA;
}
html body footer .container .wrap .thr .contact p {
  font-size: 2rem;
  white-space: nowrap;
  margin: 1em auto 0.8em;
}
html body footer .container .wrap .thr .contact input {
  width: 20rem;
  height: 3.5rem;
  background: #2C2D2E;
  border: none;
  padding: 1em;
  border-radius: 0.3em;
}
html body footer .container .wrap .thr .contact button {
  font-size: 1.6rem;
  font-weight: bold;
  width: 10rem;
  height: 3.5rem;
  margin-left: 0.6em;
}
html body footer .container .wrap.on {
  opacity: 1;
}
html body footer .bottom {
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body footer .bottom p {
  font-size: 1.6rem;
  line-height: 6.25em;
}
html body footer .bottom .sns {
  display: flex;
  align-items: center;
}
html body footer .bottom .sns h6 {
  font-size: 2.4rem;
  color: #65A3EA;
  margin-right: 0.6em;
}
html body footer .bottom .sns a:nth-child(3) img {
  margin: 0 0.4em;
}/*# sourceMappingURL=style.css.map */